body {
    background-image: url(imagenes/Login.png);
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100vh;

    overflow: hidden;
    margin: 15px;
}
h2 {
    font-size: 30px;
    color: #2B8000;
}

.nickname-container {
    max-width: 50vh;
    height: auto;
    padding: 30px;
    background-color: rgb(255, 255, 255);
    font-family: Josefin Sans;
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.text-login {
    margin: 50px 0px;
}

.nickname-inputs {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;

    border-radius: 10px;
    width: 80%;
}

#nickname-player {
    border: none;
    outline: none;
    padding: 0.5rem 0.7rem;
    font-size: 0.9rem;
    width: 100%;
    color: rgb(90, 90, 90);
    font-family: Josefin Sans;
    border: 1px solid #545a5e2d;
    border-radius: 5px;
}

#nickname-button {
    background: #56e971;
    
    border-radius: 5px;
    width: 100%;
    height: 30px;
    text-align: center;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;

}

.fa-paper-plane {
    width: 1rem;
    height: 1rem;
    color: white;
    background-color: #76e956;
}

#nickname-error {
    color: red;
    margin-top: 8px;
    min-height: 1.2em;
}
.fa-gamepad{ 
    border-radius: 100%;
    padding: 10px;
    background-color: #2B8000;
    width: 30px;
    height: auto;
}
.text-login{
    color: #545A5E;
    font-weight: 350 ;
}