html body {
    margin: 0px;
    font-family: Montserrat;
}

h1 {
    margin: 0px;
    color: #2B8000;
}
header div span {
    color: #2B8000;
}

header {
    height: 30px;
    width: 95%;
    background-color: rgb(255, 255, 255);
    padding: 2% 3%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow: hidden;
    box-shadow: 0px -6px 15px 0px;
}

header div {
    display: flex;
    flex-direction: row;
    cursor: pointer;
    align-items: center;
}

#saludo {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
}

#steak,
.textBadge {
    line-height: 24px;
    margin-top: 0px;
    font-weight: 400;
    font-size: 14px;
}

.puntajeContainer span{ 
    color: black;
    margin: 6px;
}

.welcomeSection {
    width: 98%;
    height: 150px;
    padding: 1%;
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    justify-content: space-between;
    align-items: center;

}

.welcome {
    width: 70%;
    box-shadow: 0px 4px 8px -3px;
    border-radius: 6px;
    padding: 15px;
    margin: 0px 10px 0px 0px;
    height: 100%;
}

#randomPlayButton {
    outline: none;
    border: none;
    border-radius: 6px;
    background-color: #2B8000;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
    font-weight: 700;
    padding: 5px;
    margin: 18px 0px 0px 0px;
}

.totalPointsContainer {
    width: 24%;
    height: 100%;
    background-color: #2B8000;
    box-shadow: 0px 4px 8px -3px black;
    border-radius: 6px;
    padding: 15px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.totalPoints {
    font-weight: 100;
}

.tittleYourGames {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2%;
    margin: 40px 0px 0px 0px;
}

#yourGames {
    display: grid;
    padding: 0px 2%;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    list-style-type: none;
}

.imgGameContainer {
    width: 100%;
    height: 125px;
    overflow: hidden;
}

.imgGame {
    width: 100%;
    height: 100%;
    border-radius: 15px 15px 0 0;
    object-fit: cover;
    object-position: center;
}

.tittleGame {
    line-height: 3px;
    font-weight: 300;
    margin: 10px 0px;
}

#games {
    border-radius: 15px;
    box-shadow: 0px 4px 8px -3px;

}

.contentGame {
    padding: 14px;
}

.buttonsGame {
    margin: 10px 0px 20px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.material-icons{
    margin: 3px;    
}

.playButton {
    height: 40px;
    color: white;
    font-weight: 100;
    border: none;
    border-radius: 7px;
    width: 80%;
    outline: none;
    cursor: pointer;
    background-color: #2B8000;
    display: flex;
    align-items: center;
    flex-direction: row;
    
}

.editButton {
    width: 18%;
    outline: none;
    height: 40px;
    cursor: pointer;
    color: black;
    font-weight: 100;
    border: none;
    border-radius: 7px;
    display: flex;
    align-items: center;
    flex-direction: row;
}
#createButton{
    border-radius: 100%;
    width: 50px;
    height: 50px;
    border: none;
    background-color: #2B8000;
    color: white;
    font-weight: 100;
    cursor: pointer;
    position: fixed;
    z-index: 2;
    bottom: 20px;
    right: 20px;
}

.opacity{

    width: 100%;
    height: 100%;
    position: fixed;

    z-index: 7;
    top: 0;
    left: 0;
    
    background-color: rgba(0, 0, 0, 0.344);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(90px); 

    display: none;
    align-items: center;
    justify-content: center;
}

#comeBackLater{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    z-index: 8;
    
    padding: 5% ;
    border-radius: 10px;
    bottom: 50%;
    width: 90%;
    height: 90%;
    max-width: 350px;
    max-height: 350px;
    background-color: white;
}
#comeBackLater div{
    display: flex;
    align-items: center;
    flex-direction: column;
}
#comeBackLater div span{
    font-size: 48px;
    color: red;
}
#comeBAckLater div p {
    margin: 20px;
}
#backToLoginButton{
    padding: 10px;
    width: 80%;
    background-color: #2B8000;
    color: white;
    outline: none;
    border: none;
    border-radius: 5px;
}
